.draggable-btn {
  all: initial;
  position: fixed;
  z-index: 999;
  border: none;
  background: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  button {
    padding: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .draggable-btn {
    button {
      background-color: var(--arrow-fill-dark);
    }
    path {
      stroke: var(--arrow-stroke-dark);
    }
  }
}

@media (prefers-color-scheme: light) {
  .draggable-btn {
    button {
      background-color: var(--arrow-fill-light);
    }
    path {
      stroke: var(--arrow-stroke-light);
    }
  }
}
:root:not(.theme-light) .draggable-btn {
  button {
    background-color: var(--arrow-fill-dark);
  }
  path {
    stroke: var(--arrow-stroke-dark);
  }
}

:root.theme-light .draggable-btn {
  button {
    background-color: var(--arrow-fill-light);
  }
  path {
    stroke: var(--arrow-stroke-light);
  }
}

.disabled {
  cursor: none;
  opacity: 0.5;
}
